source https://www.nuget.org/api/v2
storage:none
framework: netstandard2.0

nuget Fable.Fetch
nuget Fable.JsonProvider
nuget Feliz
nuget FSharp.Core redirects:force
nuget Fable.Core
nuget Fable.Elmish
nuget Fable.Elmish.React
nuget Fable.Elmish.Browser
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.HMR
nuget Fable.React
nuget Fable.FontAwesome prerelease
nuget Fable.FontAwesome.Free prerelease
nuget Fulma prerelease
nuget Fulma.Elmish prerelease
nuget Fulma.Extensions.Wikiki.Calendar prerelease
nuget Thoth.Fetch
nuget Feliz.Recharts
